@charset "UTF-8";

H1{
    color: rgb(30, 210, 195);
    border-color: darkgoldenrod;
    border-style: groove;

    font-size: 600%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: darkgoldenrod;
    font-style: italic;
}
p {
    color: rgb(30, 210, 195);
    border-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 400%;
    font-style: italic;
}




